%h1 Lista programas

%table.table.table-striped
  %thead
    %tr
      %th Codigo
      %th Nombre
      %th Fichas
      %th{colspan: "3"} Acciones

  %tbody
    - @programs.each do |program|
      %tr
        %td= program.codigo
        %td= program.nombre
        %td= program.fichas.count
        %td= link_to 'Ver', program
        %td= link_to 'Editar', edit_program_path(program)
        %td= link_to 'Borrar', program, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo Programa', new_program_path
