%p
  %b Número consolidado:
  = @consolidado.id
  %br
  %b Fecha creación:
  = l @consolidado.created_at, format: :long
  %br
  %b Contrato:
  = @consolidado.contrato.numero
  %br
  %b Instructor:
  = @consolidado.teacher.nombre
  %br
  %b Ficha:
  = @consolidado.ficha.ficha
  %br
  %b Actividad:
  = @consolidado.activity.nombre

  %table.table.table-striped
    %thead
      %tr
        %th Producto
        %th Medida
        %th Cantidad
        %th Valor
        %th Total
    - @consolidado.detalles.each do |detalle|

      %tr
        %td= detalle.producto.descripcion
        %td= detalle.producto.medida.medida
        %td= detalle.cantidad
        %td= number_to_currency(detalle.producto.valor)
        %td= number_to_currency(detalle.valor_total)


  %br
  %h3
    %b Total
    = number_to_currency @consolidado.sumatoria
  %br
  %br


= link_to "Nuevo", new_consolidado_path()
\|
= link_to 'Editar', edit_consolidado_path(@consolidado)
\|
= link_to 'Ver todos', consolidados_path
\|
= link_to_if @consolidado.aasm_state == "creada", "Enviar proveedor", enviar_proveedor_consolidado_path(@consolidado), method: :post, data: {confirm: "¿Esta seguro?", mensaje: "Recuerde que el sistema enviara un Email al proveedor del contrato", method: "post"}
\|
= link_to_if @consolidado.aasm_state == "proveedor", "Recibir proveedor", recibir_proveedor_consolidado_path(@consolidado), method: :post, data: {confirm: "¿Esta seguro?", mensaje: "Registrara la fecha en que recibio los articulos", method: "post"}
\|
= link_to_if  @consolidado.aasm_state == "aceptada", "Cerrar consolidado", cerrar_orden_consolidado_path(@consolidado), method: :post, data: {confirm: "¿Esta seguro?", mensaje: "Recuerde que no podra realizar cambios en el consolidado y se registrara la fecha de cierre", method: "post"}
