%p
  %b Número consolidado:
  = @consolidado.id
  %br
  %b Fecha creación:
  = l @consolidado.created_at, format: :long
  %br
  %b Contrato:
  = @consolidado.contrato.numero
  %br
  %b Instructor:
  = @consolidado.teacher.nombre
  %br
  %b Ficha:
  = @consolidado.ficha.ficha
  %br
  %b Actividad:
  = @consolidado.activity.nombre

  %table.table.table-striped
    %thead
      %tr
        %th Producto
        %th Medida
        %th Cantidad
        %th Valor
        %th Total
    - @consolidado.detalles.each do |detalle|

      %tr
        %td= detalle.producto.descripcion
        %td= detalle.producto.medida.medida
        %td= detalle.cantidad
        %td= number_to_currency(detalle.producto.valor)
        %td= number_to_currency(detalle.valor_total)


  %br
  %h3
    %b Total
    = number_to_currency @consolidado.sumatoria
  %br
  %br


= link_to_if !@consolidado.entregada?, "Entregar productos", entregar_productos_consolidado_path(@consolidado), method: :post
\|
= link_to 'Edit', edit_consolidado_path(@consolidado)
\|
= link_to 'Back', consolidados_path
