= simple_form_for(@ficha) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ficha
    = f.association :program, label_method: :nombre
    = f.input :fecha_inicio_at
    = f.input :fecha_fin_at

  .form-actions
    = f.button :submit
