%h1 Listing fichas

%table.table.table-striped
  %thead
    %tr
      %th Ficha
      %th Programa
      %th Fecha inicio
      %th Fecha fin
      %th{colspan: "3"} Acciones

  %tbody
    - @fichas.each do |ficha|
      %tr
        %td= ficha.ficha
        %td= ficha.program.nombre
        %td= l ficha.fecha_inicio_at, format: :long
        %td= l ficha.fecha_fin_at, format: :long
        %td= link_to 'Show', ficha
        %td= link_to 'Edit', edit_ficha_path(ficha)
        %td= link_to 'Destroy', ficha, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ficha', new_ficha_path
