%p#notice= notice

%p
  %b Program:
  = @ficha.program.nombre
%p
  %b Fecha inicio at:
  = @ficha.fecha_inicio_at
%p
  %b Fecha fin at:
  = @ficha.fecha_fin_at

  %table.table.table-striped
    %thead
      %tr
        %td Nº Contrato
        %td Fecha contrato
        %td Valor contrato
        %td Ejecutado ficha
        %td porcentaje ejecutado
    %tbody
      - @consolidados.each do |variable|

        %tr
          %td= variable[0].numero
          %td= l variable[0].fecha_contrato_at, format: :long
          %td= number_to_currency variable[0].valor
          %td= number_to_currency variable[1]
          %td= number_to_percentage((variable[1] * 100)/ variable[0].valor, precision: 2)


= link_to 'Edit', edit_ficha_path(@ficha)
\|
= link_to 'Back', fichas_path
