%h1= "Lista #{Producto.model_name.human(count: 2)}"

%table.footable.table.table-striped.toggle-arrow-tiny
  %thead
    %tr
      %th Descripcion
      %th Medida
      %th Valor
      %th{colspan: "3"} Acciones

  %tbody
    - @productos.each do |producto|
      %tr
        %td= producto.descripcion
        %td= producto.medida.medida
        %td= number_to_currency producto.valor
        %td= link_to 'Ver', producto
        %td= link_to 'Editar', edit_producto_path(producto)
        %td= link_to 'Borrar', producto, method: :delete, data: { confirm: '¿Esta seguro?' }

%br

= link_to 'Nuevo Producto', new_producto_path

- content_for :scripts do
  :javascript
    $(function() {
      $('.footable').footable();
    });
