
%p
  %b Descripcion:
  = @producto.descripcion
%p
  %b Medida:
  = @producto.medida.medida
%p
  %b Valor:
  = number_to_currency @producto.valor

= link_to 'Editar', edit_producto_path(@producto)
\|
= link_to 'Regresar', productos_path
