%p#notice= notice

%p
  %b Descripcion:
  = @producto.descripcion
%p
  %b Medida:
  = @producto.medida.medida
%p
  %b Valor:
  = number_to_currency @producto.valor

= link_to 'Edit', edit_producto_path(@producto)
\|
= link_to 'Back', productos_path
